.w
	max-width 1340px
	width 100%
	margin 0 auto

.header
	box-shadow 6px 0 10px rgba(85,85,85,0.1)
	height 70px
	.brand
		padding 0 42px
		height 100%
		width 220px
		background url('../img/图层554.jpg') center center no-repeat
	.nav
		padding 20px 0
		line-height 30px
		font-size 14px
		color #333
		.item
			&+.item
				margin-left 30px
	.search
		margin-left 30px
		padding 20px 0
		input
			height 30px
			width 240px
			padding 0 10px
			background #f3f3f3 url('../img/图层568.png') right 10px center no-repeat
			border none
			outline none
			font-size 12px
			border-radius 5px
			&::placeholder
				color #929da2
	.user-info
		height 100%
		padding-right 50px
		font-size 14px
		color #000
		line-height 70px
		.mr20
			margin-right 20px
		img
			vertical-align middle
			margin-top -2px
		.name
			padding-right 10px
		.item
			height 100%
		.icon
			display block
			width 40px
			height 100%
			background url() center center no-repeat
			&.icon-edit
				background-image url('../img/图层552.png')
			&.icon-upload
				background-image url('../img/图层550.png')
			&.icon-book
				background-image url('../img/图层570.png')

.main
	.tabs
		padding 34px 0 20px
		margin-bottom 20px
		.tabs-control
			.item
				padding 0 15px
				font-size 14px
				color #666
				line-height 40px
				&:hover
				&.active
					background #00c091
					transition 0.3s
					a
						color #fff
						transition 0.3s
				a
					display block
					padding-left 24px
					background url('../img/车巴巴-全部车型.png') left center no-repeat
					&.teacher
						background-image url('../img/分期－教育.png')
		.tabs-wrap
			box-shadow 6px 0 10px rgba(85,85,85,0.1),
			inset 6px 0 10px rgba(85,85,85,0.1)
			padding 30px 30px 20px
			background url('../img/组6.png') center bottom 15px no-repeat
			.row
				padding-bottom 6px
				font-size 12px
				color #b6b6b6
				line-height 24px
				.label
					margin 10px 0
					width 68px
				.option
					span
						margin 10px 0
						margin-right 15px
						width 60px
						height 22px
						line-height 22px
						border 1px solid #b6b6b6
						border-radius 11px
						text-align center
						cursor pointer
						color #999
						&.more
							background url('../img/下载(9)拷贝2.png') center center no-repeat
						&.active
						&:hover
							background-color #00c091
							color #fff
							border-color #00c091
	.sort
		font-size 14px
		color #666
		line-height 33px
		border-bottom 1px solid #eeeeee
		a
			position relative
			margin-left 30px		
			&:after
				content ""
				position absolute
				bottom -2px
				left 0
				right 0
				border-top 3px solid transparent
				transition 0.3s
			&.active
			&:hover
				&:after
					border-color #00c091
	.list
		padding-top 30px
		.item
			width 23.5%
			margin-left 2%
			margin-bottom 22px
			box-shadow 4px 4px 8px  rgba(0,20,84,0.1)
			overflow hidden
			border-radius 5px
			cursor pointer
			&:nth-child(4n+1)
				margin-left 0
			&:hover
			&.active
				display block
				.layout
					background rgba(0,0,0,0.5)
					.pre
						transform translateX(0)
					.hot
						transform translateX(0)
					.play
						top 50%
						transform translateY(0)
						opacity 1
				.user-info
					.name
					p span
					h3
						color #00c091
			.pic
				position relative
				img
					display block
					width 100%
			.layout
				position absolute
				top 0
				left 0
				right 0
				bottom 0
				background rgba(0,0,0,0)
				transition 0.5s
				.play
					position absolute
					top 50%
					left 50%
					margin-top -47.5px
					margin-left -47.5px
					width 95px
					height 95px
					top 0
					opacity 0
					transform translateY(-100%)
					transition 0.3s
					img
						display block
						width 100%
				.tips
					position absolute
					bottom 14px
					left 11px
					font-size 14px
					color #fff
					text-align center
					width 75px
					height 32px
					line-height 32px
					border-radius 16px
					background rgba(255,255,255,0.5)
				.pre
					position absolute
					top 9px
					left 0
					color #fff
					width 84px
					height 33px
					font-size 14px
					line-height 33px
					border-radius 0 16px 16px 0
					background #00c091
					text-align center
					transform translateX(-100%)
					transition 0.3s
				.hot
					position absolute
					top 9px
					right 0
					color #fff
					width 84px
					height 33px
					font-size 14px
					line-height 33px
					border-radius 16px 0 0 16px
					background #00c091
					text-align center
					transform translateX(100%)
					transition 0.3s
			.user-info
				margin-top -45px
				text-align center
				line-height 2
				.pic
					width 70px
					height 70px
					margin 0 auto
					border 5px solid #fff
					border-radius 50%
					overflow hidden
				.name
					font-size 14px
					color #000
					text-align center
				p
					font-size 12px
					color #999
					text-align center
				h3
					font-size 16px
					color #333
					font-weight bold
				.time
					padding 20px 10px 5px
					font-size 12px
					color #999
					.icon
						margin 0 10px
						font-size 14px
						font-weight bold
						padding-left 25px
						background url('../img/播放5.png') left center no-repeat
						&+.icon
							background-image url('../img/我的评论.png')
	.page-control
		text-align center
		border-top 1px solid #eeeeee
		&.p20-0-100
			padding 20px 0 80px
		a
			display inline-block
			margin 0 10px
			height 38px
			padding 0 15px
			font-size 14px
			color #999
			line-height 38px
			text-align center
			border 1px solid #eeeeee
			&.num
				transition 0.3s
				&:hover
					color #fff
					background-color #00c091
.footer
	padding 40px 0 25px
	background #353940
	.nav
		width 100%
		.item
			margin-left 24px
			font-size 12px
			color #ccc
			padding-bottom 20px
	.copy-right
		padding-left 24px
		font-size 12px
		color #6a7077
	.icon
		margin-top 15px
		margin-left 20px
		vertical-align middle	
